body {
  margin: 0 auto;
  padding: 1em;
  font-size:18px;
}

a {
  text-decoration: none;
  color: #2874A6;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #303333;
    color: #f2f2f2;
  }
  .App-link {
    color: #a4d0ed;
  }
}
